WSS.Service.Crawler.FindNew/Service References/ServiceReference1/ServiceControl4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QT.Moduls.CrawlerProduct" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QT.Moduls.CrawlerProduct" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobCrawler">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
      <xs:element minOccurs="0" name="GuidCheckFinish" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobCrawler" nillable="true" type="tns:JobCrawler" />
</xs:schema>